[user]
	name = Maxime Louet
	email = maxime.louet@epitech.eu
[core]
	editor = vim
[alias]
	cm = commit --verbose
	cmm = commit --verbose -m
 	amend = commit --amend --no-edit --reset-author
	tree = log --graph --full-history --all --pretty=format:"%h%x09%d%x20%s"
	st = status
	abort = rebase --abort
	continue = rebase --continue
	re = !git fetch && git rebase origin/master
