[Unit]
Description=1Password password manager
PartOf=wayland-session.target
After=sway.service

[Service]
ExecStart=/opt/1Password/1password --silent
Restart=on-failure

[Install]
WantedBy=wayland-session.target
