[Unit]
Description=Albert application launcher
PartOf=wayland-session.target
After=sway.service

[Service]
ExecStart=/usr/bin/albert
Restart=on-failure

[Install]
WantedBy=wayland-session.target
