[Unit]
Description=Touchpad gestures handler
PartOf=wayland-session.target
After=sway.service
# only on laptops
ConditionPathExistsGlob=/sys/class/power_supply/BAT*

[Service]
ExecStart=/usr/bin/libinput-gestures
Restart=on-failure

[Install]
WantedBy=wayland-session.target
