global !p
import time
import locale
import os
import pwd

locale.setlocale(locale.LC_ALL, 'C');
fullName = pwd.getpwuid(os.getuid())[4];

def getTime():
  return time.strftime("%c")
endglobal

snippet header "Epitech standard epitech"
/*
** `!p snip.rv = snip.fn` for $0 in `!p snip.rv = path`
** 
** Made by Maxime Louet
** Login   <maxime.louet@epitech.eu>
** 
** Started on  `!p snip.rv = getTime()` Maxime Louet
** Last update `!p snip.rv = getTime()` Maxime Louet
*/
endsnippet
