Atom/
autostart/
Caprine/
chromium/
Code - OSS/
configstore/
Cypress/
dconf/
deluge/
discord/
easytag/
filezilla/
inkscape/
menus/
nemo/
nvim/plugged
pulse/
QtProject.conf
Slack/
spek/
spotify/
sqlitebrowser/
sublime-text-3/
vlc/
