[color "diff"]
  context = "#bbb"
  meta = "#FFC654" bold
  frag = "#FF4DE5"
  func = "#C55CFF" bold
  old = "#EB545B"
  new = "#6AEB6A"
  oldMoved = "#EB71A3"
  newMoved = "#C2DE68"

[color "status"]
  added = "#6AEB6A"
  changed = "#EB545B"
  untracked = "#FFC654"
  branch = "#BDE1FF"
  nobranch = "#EB545B" bold ul
  unmerged = "#EB545B" bold ul

# vim: set ft=gitconfig:
