global !p
import locale

locale.setlocale(locale.LC_ALL, 'C');

def getHeaderName():
  return snip.fn.replace(' ', '')[:-4].upper()

endglobal



snippet ifndef "Protect header double inclusion"
#ifndef `!p snip.rv = getHeaderName()`_HPP
	#define `!p snip.rv = getHeaderName()`_HPP

$0

#endif // !`!p snip.rv = getHeaderName()`_HPP
endsnippet

